<section class="cd-horizontal-timeline">
  
  <div class="events-content">
    <ol>
      <li class="selected" data-date="01/01/2008">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/cartman.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="05/06/2008">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/stan.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="01/01/2009">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/kyle.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="05/08/2009">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/kenny.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="01/01/2010">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/cartman.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="05/10/2010">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/stan.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="01/01/2011">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/kyle.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="25/08/2011">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/kenny.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="01/01/2012">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/cartman.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="05/06/2012">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/stan.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="01/01/2013">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/kyle.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="05/04/2013">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/kenny.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="01/01/2014">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/cartman.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="05/07/2014">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/stan.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="01/01/2015">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/kyle.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="05/04/2015">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/kenny.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="01/01/2016">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/cartman.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="03/08/2016">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/stan.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="01/01/2017">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/kyle.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

      <li data-date="05/06/2017">
        <img src="https://raw.githubusercontent.com/mtlong29/images/master/kenny.png" alt="">
        <h2>The Beginning</h2>
        <span class="date">January 16th, 2008</span>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illum praesentium officia, fugit recusandae ipsa, quia velit nulla adipisci? Consequuntur aspernatur at, eaque hic repellendus sit dicta consequatur quae, ut harum ipsam molestias maxime non nisi reiciendis eligendi! Doloremque quia pariatur harum ea amet quibusdam quisquam, quae, temporibus dolores porro doloribus.
        </p>
      </li>

    </ol>
  </div>

  <div class="timeline">
    <div class="events-wrapper">
      <div class="events">
        <ol>
          <li><a href="#0" data-date="01/01/2008" class="year selected">2008</a></li>
          <li>
            <a href="#0" data-date="05/06/2008"></a>
          </li>
          <li><a href="#0" data-date="01/01/2009" class="year">2009</a></li>
          <li>
            <a href="#0" data-date="05/08/2009"></a>
          </li>
          <li><a href="#0" data-date="01/01/2010" class="year">2010</a></li>
          <li>
            <a href="#0" data-date="05/10/2010"></a>
          </li>
          <li><a href="#0" data-date="01/01/2011" class="year">2011</a></li>
          <li>
            <a href="#0" data-date="25/08/2011"></a>
          </li>
          <li><a href="#0" data-date="01/01/2012" class="year">2012</a></li>
          <li>
            <a href="#0" data-date="05/06/2012"></a>
          </li>
          <li><a href="#0" data-date="01/01/2013" class="year">2013</a></li>
          <li>
            <a href="#0" data-date="05/04/2013"></a>
          </li>
          <li><a href="#0" data-date="01/01/2014" class="year">2014</a></li>
          <li>
            <a href="#0" data-date="05/07/2014"></a>
          </li>
          <li><a href="#0" data-date="01/01/2015" class="year">2015</a></li>
          <li>
            <a href="#0" data-date="05/04/2015"></a>
          </li>
          <li><a href="#0" data-date="01/01/2016" class="year">2016</a></li>
          <li>
            <a href="#0" data-date="03/08/2016"></a>
          </li>
          <li><a href="#0" data-date="01/01/2017" class="year">2017</a></li>
          <li>
            <a href="#0" data-date="05/06/2017"></a>
          </li>
        </ol>

        <span class="filling-line" aria-hidden="true"></span>
      </div>
    </div>

    <ul class="cd-timeline-navigation">
      <li><a href="#0" class="prev inactive">Prev</a></li>
      <li><a href="#0" class="next">Next</a></li>
    </ul>
  </div>

</section>
