<!--
<div class="home-page">
	<header class="">
		<section class="chunk">
			<div class="anchored-banner">
						<div class="top-block">
				<h1 class="">
					<p>Matthew</p>
				</h1>
						</div>
						<div class="bottom-block">
				<h1 class="inline">
					<p>Martin</p>
				</h1>
				<span class="play-btn"></span>
						</div>
			</div>
		</section>
	</header>
</div>
-->

<div class="home-page">
	<div class="chunk"><video autoplay="true" loop="true" muted="true" poster="/images/home/header.jpg"><source src="https://fpdl.vimeocdn.com/vimeo-prod-skyfire-std-us/01/3866/8/219330646/762142336.mp4?token=1499973424-0x0b004510abf4b23efb6006fc237d76729db3c335" type="video/mp4"></video>
		<header class="anchored-banner">
			<h1>
				<p>Matthew</p>
			</h1>
			<h1 class="inline">
				<p>Martin</p>
			</h1><span id="play-button" href="#play"></span>
		</header>
	</div>
</div>
