<section id="testimonials">
	<div class="heading">
		testimonials
	</div>

	<div class="wrapper">
		<div class="inner">
			<div class="grid">

				<div class="large-12">
					<div class="c-tabs c-tabs-content">
						<input id="c-tab-11" name="c-tabs-3" type="radio" checked>
						<label for="c-tab-11">Project Manager</label>
						<input id="c-tab-12" name="c-tabs-3" type="radio">
						<label for="c-tab-12">Social Strategist</label>
						<input id="c-tab-13" name="c-tabs-3" type="radio">
						<label for="c-tab-13">Web Developer</label>
						<input id="c-tab-14" name="c-tabs-3" type="radio">
						<label for="c-tab-14">Web Developer</label>

						<div id="c-content-11" class="c-content">
							<div class="left">
								<img src="https://d2i1pl9gz4hwa7.cloudfront.net/WrYzNS6Tp50rFYBwWK0_9g">
							</div>
							<div class="right">
								<p>“One of my personal values is to optimize for learning and growth. Life is growth. And I can honestly say that I've grown and learned more during my time at Quip than anywhere else I've worked for the past ten years. I feel supported by the people around me in where I want to grow, and I feel that my efforts to help teammates grow are appreciated and valued. That I get to work with some of the most talented and yet humble people I've encountered in my career is just icing on the cake.”</p>
								<h4>Lauren Parker</h4>
								<h5>- <small>Project Manager</small></h5>
								<a href="#">Join the Team ></a>
							</div>
						</div>
						<div id="c-content-12" class="c-content">
							<p></p>
						</div>
						<div id="c-content-13" class="c-content">
							<p></p>
						</div>
						<div id="c-content-14" class="c-content">
							<p></p>
						</div>
					</div>
				</div>

			</div>
		</div>
	</div>

</section>

