<!--
<div class="home-page">
	<header class="">
		<section class="chunk">
			<div class="anchored-banner">
						<div class="top-block">
				<h1 class="">
					<p>Matthew</p>
				</h1>
						</div>
						<div class="bottom-block">
				<h1 class="inline">
					<p>Martin</p>
				</h1>
				<span class="play-btn"></span>
						</div>
			</div>
		</section>
	</header>
</div>
-->

<div class="home-page">
	<div class="chunk"><video autoplay="true" loop="true" muted="true" poster=""><source src="video/cat/cat.mp4" type="video/mp4"></video>
		<header class="anchored-banner">
			<h1>
				<p>Matthew</p>
			</h1>
			<h1 class="inline">
				<p>Martin</p>
			</h1><span id="play-button" href="#play"></span>
		</header>
	</div>
</div>
