html {
	background: #f0f0f0;
	body {
		margin: 0;
		padding: 1rem;
		color: #333;
		overflow-x: hidden;
		background: #FFF;
		section {
			position: relative;
			background: lightgray;
			width: 100%;
			min-height: 110vh;
			border-bottom: 1px solid gray;
			&.footer {
				border-bottom: none;
			}
			.title-block {
				top: 50%;
				left: 0;
				right: 0;
				z-index: 99;
				padding: 0;
				position: absolute;
				transform: translateY(-50%);
				span {
				}
			}
			.heading {
				margin-top: -5vh;
			}
		}
	}
}
