html {
	background: $white;
	body {
		margin: 0;
		padding: 1rem;
		color: $gray;
		overflow-x: hidden;
		background: lighten($gray, 85%);
		section {
			position: relative;
			background: lighten($gray, 90%);
			width: 100%;
			min-height: 110vh;
			border-bottom: 1px solid $gray;
			&.footer {
				border-bottom: none;
			}
			.title-block {
				top: 50%;
				left: 0;
				right: 0;
				z-index: 99;
				padding: 0;
				position: absolute;
				transform: translateY(-50%);
				span {
				}
			}
			.heading {
				margin-top: -5vh;
			}
		}
	}
}
