@mixin transition($time, $type, $selector) {
  -webkit-transition: $time $type $selector;
  -moz-transition: $time $type $selector;
  -o-transition: $time $type $selector;
  transition: $time $type $selector;
}

@mixin transitionDelay($time) {
  -webkit-transition-delay: $time;
  transition-delay: $time;
}

@mixin userSelect ($arg) {
  -webkit-user-select: $arg;
  -moz-user-select: $arg;
  -ms-user-select: $arg;
  user-select: $arg;
}

@mixin animation ($name, $duration, $delay, $fillMode, $playState) {
  -moz-animation: $name $duration $delay $fillMode $playState;
  -webkit-animation: $name $duration $delay $fillMode $playState;
  -o-animation: $name $duration $delay $fillMode $playState;
  -ms-animation: $name $duration $delay $fillMode $playState;
  animation: $name $duration $delay $fillMode $playState;
}

@mixin corners($shorthand) {
  $cs: nth($shorthand, 1); // corner-size
  $-cs: calc(100% - #{$cs}); // corner-width from ends
  $bw: nth($shorthand, 2); // border-width
  $bs: nth($shorthand, 3); // border-style
  $bc: nth($shorthand, 4); // border-color
  border: $bw $bs $bc;
  $bw: $bw + 1px; // border-width
  $-bw: calc(100% - #{$bw} - 1px); // border-width from ends
  clip-path: polygon(0 $cs, 0 0, $cs 0, $cs $bw, $-cs $bw, $-cs 0, 100% 0, 100% $cs, $-bw $cs, $-bw $-cs, 100% $-cs, 100% 100%, $-cs 100%, $-cs $-bw, $cs $-bw, $cs 100%, 0 100%, 0 $-cs, $bw $-cs, $bw $cs);
}
