#testimonials {
	.large-12 {
		padding: 15px 0;
	}
	.header {
		height: 100px;
		padding-top: 30px;
		text-align: center;
	}
	.logo {
		font-family: 'Avenir Next', sans-serif;
		font-size: 16px;
		font-weight: 600;
	}
	.inner {
		max-width: 1105px;
		margin: 0 auto;
		padding: 0;
	}
	.c-tabs {
		position: relative;
		display: flex;
		flex-wrap: wrap;
		@media (max-width: 850px) {
			flex-direction: column;
			max-width: 100%;
		}
	}
	.c-tabs [id*='-tab-content-'] {
		display: none;
	}
	.c-tabs input[type='checkbox'],
	.c-tabs input[type='radio'] {
		display: none;
	}
	.c-tabs label {
		flex: 1;
		padding: 10px 0;
		text-align: center;
		color: #59d;
		border: 1px solid #59d;
		border-left-width: 0;
		@include userSelect(none);
	}
	.c-tabs label:nth-child(2) {
		border-left-width: 1px;
	}
	.c-tabs input:checked+label {
		color: #59d;
		background: #FFF;
		border-top: 3px solid;
		border-top-right-radius: 3px;
		border-top-left-radius: 3px;
	}
	.c-tabs-content label {
		border: 0;
		border-top: 3px solid transparent;
		max-width: 100%;
	}
	.c-tabs-minimal label {
		flex: none;
		padding: 10px;
	}
	.c-content {
		display: none;
		max-width: 100%;
		padding: 15px;
		background: #FFF;
		@media (min-width: 851px) {
			flex-direction: column;
			width: 100%;
		}
		.left {
			display: flex;
			justify-content: flex-end;
			img {
				max-width: 100%;
				text-align: center;
				margin: 0 auto;
				@media (max-width: 851px) {
					max-height: 200px;
				}
			}
		}
		.right {
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			@media (max-width: 851px) {
				margin-top: 1rem;
			}
			p {
				margin-bottom: 0.5rem;
			}
			h4 {
				margin-bottom: 0.125rem;
			}
			h5 {
				margin-bottom: 1rem;
			}
		}
	}
	#c-tab-11:checked~#c-content-11,
	#c-tab-12:checked~#c-content-12,
	#c-tab-13:checked~#c-content-13,
	#c-tab-14:checked~#c-content-14,
	#c-tab-15:checked~#c-content-15,
	#c-tab-16:checked~#c-content-16,
	#c-tab-17:checked~#c-content-17,
	#c-tab-18:checked~#c-content-18,
	#c-tab-19:checked~#c-content-19,
	#c-tab-20:checked~#c-content-20 {
		display: flex;
		flex-direction: row;
		padding-bottom: 0;
		@media (max-width: 850px) {
			flex-direction: column-reverse;
			max-width: 100%;
		}
	}
}
