.header {
	.title-block {
		span {}
		.text {
			display: table;
			padding-left: 2em;
			padding-right: 20px;
			line-height: 1.3em;
			color: #fff;
			background-color: #f90;
			font-family: 'Montserrat';
			font-size: 4em;
			text-transform: uppercase;
		}
		.first {
			margin-bottom: 12px;
		}
		.last {}
		.play-btn {
			width: 5.2em;
			height: 5.2em;
			position: relative;
			display: inline-block;
			margin-left: 12px;
			background-color: #fff;
			transition-property: background-color;
			transition-duration: .2s;
		}
		&:before {
			content: '';
			position: absolute;
			margin: 1.25em 1.8em;
			border-left: 30px solid #f90;
			border-top: 20px solid transparent;
			border-bottom: 20px solid transparent;
			transition-property: border-left-color;
			transition-duration: .2s;
		}
	}
}
