#branding {
  .container {
    width: 1200px;
    .row {
      display: flex;
      justify-content: center;
      align-content: center;
      .brandTile {
        @include corners(20px 4px solid transparentize($accent, 0.5));
        @include transition(.1s, ease, filter);
        display: flex;
        flex: 1;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        height: 120px;
        max-width: calc(100/6);
        margin: 1rem 0 0 1rem;
        padding: .5rem;
        &:last-of-type {
          margin-right: 1rem;
        }
        &:hover {
          @include corners(20px 4px solid $accent);
          .logo {
            @include animation(slideOut, .2s, ease-in-out, 0s, both);
            img {
              filter: grayscale(0%);
              @include animation(fadeOut, .2s, ease-in-out, 0s, both);
            }
          }
          .logoOverlay {
            @include animation(slideIn, .4s, ease-in-out, .2s, both);
          }
        }
      }
      .logo {
        @include animation(slideIn, .2s, ease-in-out, .8s, both);
        max-height: calc(120px - 1rem);
        img {
          @include animation(slideIn, .2s, ease-in-out, .8s, both);
          @include userSelect(none);
          width: 100%;
          height: 100%;
          overflow: hidden;
          filter: grayscale(100%);
        }
      }
      .logoOverlay {
        @include animation(slideOut, .2s, ease-in-out, .6s, both);
        height: 120px;
        background: $accent;
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        h4 {
          font-size: 1.25rem;
          text-align: center;
          color: $white;
        }
      }
      @media only screen and (min-width: 800px) {}
      @media only screen and (max-width: 800px) {}
    }
  }
}

@-webkit-keyframes slideIn {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@-ms-keyframes slideIn {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@keyframes slideIn {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}

@-webkit-keyframes slideOut {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@-ms-keyframes slideOut {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes slideOut {
  0% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@-webkit-keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@-ms-keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 100%;
  }
  100% {
    opacity: 0%;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}
