#branding {
  .container {
    width: 1200px;
    .row {
      display: flex;
      justify-content: center;
      align-content: center;
      .brandTile {
        @include corners(20px 4px solid transparentize($accent, 0.5));
        @include transition(1.25s, ease-in-out, background);
        display: flex;
        flex: 1;
        flex-flow: column;
        justify-content: center;
        align-content: center;
        min-height: 120px;
        max-width: calc(100/6);
        margin: 1rem 0 0 1rem;
        padding: .5rem;
        &:last-of-type {
          margin-right: 1rem;
        }
        &:hover {
          @include corners(20px 4px solid $accent);
          img {
            @include transitionDelay(.0s);
            filter: grayscale(0%);
            display: none;
          }
          .logoOverlay {
            @include transitionDelay(.25s);
            display: flex;
            background-color: $accent;
            h4 {
              display: flex;
            }
          }
        }
        img {
          @include transition(0.25s, ease-in-out, filter);
          width: 100%;
          height: auto;
          padding-bottom: 5px;
          filter: grayscale(100%);
        }
        .logoOverlay {
          display: none;
          justify-content: center;
          flex-flow: column;
          height: 100%;
          width: 100%;
          h4 {
            display: none;
            margin: 0 auto;
            font-size: 1.25rem;
            text-align: center;
            color: $white;
          }
        }
        @media only screen and (min-width: 800px) {}
        @media only screen and (max-width: 800px) {}
      }
    }
  }
}
